/***************** RESET *****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 1180px;
    margin: 0 auto;
}

/****************** REUSABLE *******************/

.ht-bar, .section-content-ctn {
    width: 70%;
}

.header-top, .header-bottom, .section-ctn {
    display: flex;
    justify-content: center;
}

/***************** HEADER SECTION ****************/

.header-top {
    background-color: #add8e6;
    padding: 10px 0;
}

.ht-bar {
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed black;
}

.nav-list {
    list-style-type: none;
    display: flex;
    width: 60%;
}

.nav-list li {
    margin: 0 5px;
}

.nav-bar, .logo-ctn, .login {
    border: 1px dashed black;
    padding: 5px;
}

.logo-ctn, .login {
    width: 20%;
}

.login {
    text-align: right;
}

.header-bottom {
    background-color: #00008b;
    padding: 120px 40px;
}

.hb-ctn {
    background-color: #ee82ee;
    width: 60%;
    height: 279px;
    border: 2px dashed black;
    border-radius: 5px;
}

/***************** MAIN SECTION ****************/

.section-ctn:nth-child(odd) {
    background-color: #ffffff;
}

.section-ctn:nth-child(even) {
    background-color: #d3d3d3;
}

.section-ctn {
    padding: 120px 40px;
}

.section-content-ctn {
    display: flex;
    border: 1px dashed black;
}

.content-right, .content-left {
    height: 440px;
}

.content-left {
    background-color: #1e90ff;
    width: 60%;
}

.content-right {
    background-color: #ffc0cb;
    width: 40%;
    border: 1px dashed black;
}

.invert {
    flex-flow: row-reverse;
}

.last-ctn {
    height: 600px;
}

.content-big {
    background-color: #228b22;
    width: 100%;
}

/***************** FOOTER SECTION ****************/

footer {
    background-color: #23272a;
}

.footer-top {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 5px 0 20px 0;
}

.first-ctn, .footer-top-ctn {
    border: 1px dashed  black;
}

.footer-top-ctn {
    background-color: #20b2aa;
    height: 400px;
    width: 17.5%;
}

.first-ctn {
    background-color: #f08080;
    width: 30%;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    border: 1px solid #7fffd4;
    padding-top: 15px ;
    width: 100%;
}

.footer-bottom-ctn {
    display: flex;
    justify-content: space-between;
    background-color: #7fffd4;
    padding: 10px 0;
    width: 70%;
}

.footer-logo, .footer-button {
    background-color: #ffb6c1;
    border: 1px dashed black;
}